# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\file\Ideal\lear_xml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
